<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola mundo con Vue.js</title>
</head>
<body>
    
    <div id="app">

        <h1>{{ titulo }}</h1>

        <input type="text" v-model="nuevaFruta"><!-- v-model conecta con el .js-->

        <button @click="agregarFruta">Agregar</button>

        <ul>
            <li v-for="fruta of frutas">
               fruta: {{ fruta.nombre }} - cantidad: <input type="number" v-model.number="fruta.cantidad"><!--Sin el .number lo toma como texto y algunas cosasa andarían mal-->
               <button @click="fruta.cantidad++">+</button><!--También podia poner "fruta.cantidad = fruta.cantidad +1" se puede hacer cualquier operación de javascript-->
               <button @click="fruta.cantidad--">-</button>
               <span v-if="fruta.cantidad === 0"> -Sin stock</span>
            </li>
        </ul>
        <h4> TOTAL: {{ sumarCantidades }}</h4>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="01_Intro.js"></script>
</body>
</html>